@import 'themes/one-dark.css';

* {
	border: none;
	border-radius: 0px;
	
	font-family: 'JetBrains Mono', 'Hack Nerd Font', 'UbuntuMono', monospace;
	font-weight: bold;

	min-height: 0;
	padding: 0;
	margin: 0;
}

window#waybar {
	background: @bg3;
}

/* -----------------------------------------------------------------------------
* Tooltips
* -------------------------------------------------------------------------- */

tooltip {
	background: @bg0;
	border: 1px solid @bg3;
	border-radius: 12px;
}

tooltip label {
	color: @fg;
	padding: 6px;
}


#workspaces {
	background: @bg0;
	padding: 3px 3px;
	margin: 1.5px 0 1.5px 12px;
	border-radius: 18px;
	border: 1px solid @bg1;
	color: @fg;
}

#workspaces button {
	padding: 0px 6px;
	margin: 0 3px;
	border-radius: 50px;
	color: transparent; 
	background-color: @bg1;
	transition: all 0.3s ease-in-out;

}

#workspaces button:hover {
	background: @purple;
	color: @bg0;
	border-radius: 16px;
	min-width: 50px;
	background-size: 400% 400%;
}

#workspaces button.active,
#workspaces button.focused {
	background: @blue;
	color: @bg0;
	min-width: 50px;
	transition: all 0.3s ease-in-out;
	font-size: 13px;
}


#workspaces button.urgent {
	background-color: @red;
	color: @bg0;
	border-radius: 16px;
	min-width: 50px;
	background-size: 400% 400%;
	transition: all 0.3s ease-in-out;
}

#battery,
#pulseaudio,
#network,
#clock,
#bluetooth,
#battery.charging,
#backlight,
#custom-notification {
	background-color: @bg0;
	padding: 0 15px 0 15px;
	margin: 1.5px 0 1.5px 12px;
	border-radius: 35px;
	border: 1px solid @bg1;
}

#clock {
	color: @blue;
}
#custom-notification {
	color: @yellow;
	margin: 1.5px 12px 1.5px 12px;
}

#pulseaudio {
	color: @yellow;
}
#network {
	color: @purple;
}

#batter.charging,
#battery{
	color: @green;
}

#bluetooth {
	color: @aqua;
}
#backlight {
	color: @grey2;
}
